@import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";

$background:white;
$background-color:#fdfbfc;
$detailBar: blue;
$border-shade: #6d7777;
$calendar-color: #abfdfd;
$alert: #fdfdab;
$tag: #fdd4ab;
$score: #abfdd4;
$nintendo-shadow:
0 2px 2px 0 rgba($border-shade,.14),0 3px 1px -2px rgba($border-shade,.2),0 1px 5px 0 rgba($border-shade,.12),
0px 0px 0px 0.5px rgba($border-shade,.3);


.box{
  color:black;
  // flex: 1;
  margin: 0.5rem;
  // flex-basis: 10rem;
  background-color: white;
  border-radius: 2px;
  // border: solid 1px black;
  text-align: center;
  box-shadow:$nintendo-shadow;
}
