@import '../shared/bonbons.scss';
:host{

  color:black;

  padding: 0.2rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 5px;

  box-shadow:$nintendo-shadow;
  display: flex;
  justify-content: space-around;
  flex: 1;
  background: white;

}

img{
  flex: 1;
  display: block;
  width: 5rem;
  height: 5rem;
  &.not-producing{
    // width: 1rem;
    filter: invert(75%);
  }
}
