@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";
// @import "variables";
body{
  background-color:yellow;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
h1{
  background-color: yellow;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
