@import '../shared/bonbons.scss';
:host{
  @extend .box;
  width: 15rem;
}

.controls{
  color:black;
  display: flex;
  justify-content: space-between;
  a{
    margin: 0.1rem;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    &:hover{
      color: blue;
      background-color: rgba($border-shade,.14);
    }
  }
}
